<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
    <!--    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<h1>음식점 리스트</h1>
<div class="col-md-12">
    <!--    로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <table>
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>상세보기</th>
<!--                        <th>이미지</th>-->
                        <th>음식점명</th>
                        <th>대표메뉴</th>
                        <th>거리(m)</th>
                        <th>주소</th>
                        <th>영업시간</th>
                        <th>방문자리뷰</th>
                        <th>예약리뷰</th>
                        <th>카테고리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="restaurantDTO, status:${restaurants}">
                        <td th:text="${status.index}"></td>
<!--                        <td><img id="imgId" th:src="${restaurantDTO.image_Url}" alt="첨부이미지" /></td>-->
                        <td><a th:href="@{/restaurant/{id} (id = ${restaurantDTO.id})}">글 상세보기</a></td>
<!--                        <td th:text="${restaurantDTO.image_Url}"></td>-->
                        <td th:text="${restaurantDTO.name}"></td>
                        <td th:text="${restaurantDTO.category}"></td>
                        <td th:text="${restaurantDTO.diff_Distance}"></td>
                        <td th:text="${restaurantDTO.address}"></td>
                        <td th:text="${restaurantDTO.business_Hours}"></td>
                        <td th:text="${restaurantDTO.visitor_Review_Score}"></td>
                        <td th:text="${restaurantDTO.booking_Review_Score}"></td>
                        <td th:text="${restaurantDTO.category}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${!restaurants.isEmpty()}">
            <!-- 전역 변수 선언 -->
            <nav
                    th:with="
                pageNumber = ${restaurants.pageable.pageNumber},
                pageSize = ${restaurants.pageable.pageSize},
                totalPages = ${restaurants.totalPages},
                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
                    aria-label="Page navigation"
            >
                <ul class="pagination ">
                    <!-- 처음으로 이동 -->
                    <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="@{/restaurant/main(page=0)}">
                            <span>&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>

                    <!-- 이전으로 이동 -->
                    <li th:classappend="${restaurants.first} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="${restaurants.first} ? '#' :  '@{/restaurant/main(page=${pageNumber - 1})}'" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <!-- 특정 페이지로 이동 -->
                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                        <a th:text="${page}" class="page-link" th:href="@{/restaurant/main(page=${page - 1})}"></a>
                    </li>

                    <!-- 다음으로 이동 -->
                    <li th:classappend="${restaurants.last} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="${restaurants.last} ? '#' : '@{/restaurant/main(page=${pageNumber + 1})}'" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                    <!-- 마지막으로 이동 -->
                    <li th:classappend=" ${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
                        <a class="page-link" th:href="@{/restaurant/main(page=${totalPages - 1})}">
                            <span>&raquo;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div> <!-- /container -->
    </div>
</div>
</body>
</html>